
.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  transition: .1s;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.nav a:global(.active) {
  background: #fff;
  border-color: #fb1;
  box-shadow: 0 0 0 3px #fea;
}

.nav a:global(.active) svg > * {
  fill: #fb1;
}